
/*Page: Editor*/
.pg-edit {display: table;height: calc(100vh - 50px);width: 100%}
.pg-edit .left-bar{width:100px;display: table-cell;background:#353535;color:white;vertical-align: top;border-right: 1px solid #666}
.pg-edit .left-bar >div{text-align: center;width: 100%;min-height: 50px;padding:20px 0px;border-bottom: 1px solid #555}
.pg-edit .left-bar .savelessonbtn {position:relative;margin:auto;width:48px;height:48px;background: url(../img/saveicon.png);background-size: contain;}
.pg-edit .left-bar .changetemplatebtn {position:relative;margin:auto;width:48px;height:48px;background: url(../img/change-template-trash.png);background-size: contain;}
.pg-edit .left-bar .disabled{opacity:.3;}
.pg-edit .left-bar .attention{background-color:#993333}

.pg-edit .lesson {display: table-cell;vertical-align: middle;text-align: center;}
.pg-edit .lesson > div {box-sizing: content-box;width:960px; height: 540px; border: 2px dashed #666; display: inline-block;}
.pg-edit .lesson > div iframe{ width: 960px;height: 540px; border: 1px solid #eee;}
.pg-edit .lesson.preview > div {;}

.pg-edit .props {height:calc(100vh - 50px);padding-bottom:20px;float:right;overflow-y: scroll;overflow-x:hidden;width:300px;background: #333;border-left: 1px solid #666;vertical-align: top;color:#bbb;font-size: 12px}
.pg-edit .panel {margin-top: 10px;padding-bottom: 5px;position: relative;}
.pg-edit .ptitle {cursor:pointer;user-select:none;font-size: 14px;font-weight: bold;color:#ddd;width: 100%;background-color: #555;padding: 6px;box-shadow: 3px 1px 3px 0px rgba(0,0,0.5)}
.pg-edit .controls {padding: 0px 5px;}
.pg-edit .controls .arrow {}
.pg-edit .ptitle::before {;content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .2s ease-out;transform: rotate(90deg) translateX(-3px);}
.pg-edit .panel.collapsed .ptitle::before {transform: rotate(0deg) translateX(0px);}
.pg-edit .panel.collapsed .controls {display: none;}
.pg-edit .control {margin-top: 10px;}
.pg-edit .control .title {;}
.pg-edit .control input, .control textarea {background-color: #444;color:#eee;padding: 5px;border: 1px solid #888;border-radius: 4px;width: 280px;}
.pg-edit .control textarea {font-family: sans-serif;}
.pg-edit .control .widebutton {cursor:pointer;font-size:14px;text-align:center;background-color: #666;color:#eee;padding: 5px;margin:3px 0px;border: 1px solid #bbb;border-radius: 4px;width: 280px;box-shadow: 1px 1px 0px 1px rgba(0,0,0,.5)}
.pg-edit .control .widebutton:hover{background: #888;} 