
/*Page: Template chooser dialog*/
.pg-templ {display: table;transition: all .2s;height: calc(100vh - 50px);}

.pg-templ .preview-pane {width:750px;background:#323232;color:white;vertical-align: top;position: relative;min-height: 700px;float:left;height: calc(100vh - 50px)}
.pg-templ .preview-pane > div {position:relative;margin-top:100px;padding:50px;left:80px;height:calc(100vh - 220px);background: #404040;box-shadow: 3px 3px 16px 0px rgba(0,0,0,.5);;border-radius: 4px;max-width: 580px;}
.pg-templ .prev-img-large {margin:0px 0px;;padding-top: 50px; max-width:480px;height:270px;position: relative;}
.pg-templ .prev-img-large > div {background-image:url(../img/blankimg480.png);position:absolute;box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,1);top:0px;right:0px;left:0px;bottom:0px;}
.pg-templ .prev-descr-large {padding:15px;margin-top:20px;position: relative;float:left;max-height: 100px;overflow:auto;max-height: calc(100vh - 670px);}
.pg-templ .prev-descr-large > div {font-size: 16px}
.pg-templ .prev-descr-large .tmpl-title {text-shadow: 1px 1px 3px  rgba(0,0,0,.5)}
.pg-templ .prev-descr-large .tmpl-version {color:#999;}
.pg-templ .prev-descr-large .tmpl-interaction {}
.pg-templ .prev-descr-large .tmpl-about {padding-top:10px;color:#c5c5c5;}
.pg-templ .prev-button-sec {text-align: center;position: absolute; bottom:40px;left:0;right: 0;}
.pg-templ .prev-button {margin:auto;display:inline-block;text-align: center;padding: 18px 30px;background: #df803d;border-radius: 4px;box-shadow: 2px 2px 6px 0px rgba(0,0,0,.5);opacity:.9;cursor: pointer;}
.pg-templ .prev-button:hover {opacity: 1;box-shadow: 2px 2px 16px 0px rgba(0,0,0,.5);}
.pg-templ .prev-button.disabled {opacity:.1;cursor: default;pointer-events: none;}
.pg-templ .prev-button.cancel-change {background: #821818}
/*
.pg-templ .cancel-dialog-button {position: absolute;right: 16px;top:0px;}
.pg-templ .cancel-dialog-button div{opacity:.8;width:48px;height:48px;background-image:url(../img/cancel-circle.png);background-size: contain;}
.pg-templ .cancel-dialog-button div:hover{opacity:1;background-image:url(../img/cancel-circle-hover.png)}
*/
.pg-templ .browser-pane {position:relative;width:calc(100vw - 750px);float:right;background:#323232;color:white;vertical-align: top;overflow: hidden;min-width: 400px;}
.pg-templ .filters {z-index:100 /*ensures shadow falls over top of tabs during scrooll*/;height: 100px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,.5);position: relative;overflow-x: hidden;}
.pg-templ .filters > div {position:absolute;bottom: 0px;margin: 20px;}
.pg-templ .filters > div > div {display: inline-block;padding-right: 30px;}
.pg-templ .filters input {}
.pg-templ .filters label {}
.pg-templ .templates {overflow-y:scroll;position: relative;height: calc(100vh - 150px);background: #292929;box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,.8);}
.pg-templ .template {position:relative; margin: 12px;background: #404040;min-height: 130px;padding:15px;box-shadow: 1px 1px 4px 0px rgba(0,0,0,.5);cursor: pointer;border-radius: 3px;}
.pg-templ .template.selected {border-bottom: 3px solid #df803d;background:  #504440;transform: translate(-10px, -1px);}
.pg-templ .template:hover{transform: translate(-1px, -1px);background: #444}
.pg-templ .template.selected:hover{transform: translate(-10px, -1px);}
.pg-templ .template .prev-small {width:192px;height: 100px;background-size: 100% 100%;margin-right:13px;display: inline-block;} 
.pg-templ .template .info {min-width: 220px;width: calc(100% - 220px);display: inline-block;vertical-align: top;font-size:14px;}
.pg-templ .template .tmpl-title {font-size:16px;}
.pg-templ .template .tmpl-version {color:#999;}
.pg-templ .template .tmpl-interaction {}
.pg-templ .template .tmpl-about {color:#ddd;}
.pg-templ .template:hover .tmpl-about {color:#fff;}
@media only screen and (max-width: 1149px) {
  .pg-templ .preview-pane{width: 100%}
  .pg-templ .preview-pane > div {margin:auto;min-width: 580px;top:50px;;left:0;}
  .pg-templ .browser-pane{width: 100%;}
  .pg-templ .templates{height: auto;overflow: hidden}
}